<div class="hero">
  <br />
<div class="frosty">
  <br />
<h1>Pick A Theme!!</h1>
<br />
<h2>Which Color??</h2>
<br />
<h3>What Will Your Future Room Look Like??</h3>
<%= link_to 'Learn More', '#', class: 'btn btn-success' %>
<br /><br />
</div>
</div>